/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* ==========================================================================
                              UTILITARY CLASSES
      ========================================================================== */

   .white{
     background-color: white;
   }
   .pink{
     background-color: #f8a796;
   }
   .orange{
     background-color: #fee8c9;
   }
   .lime{
     background-color: lime;
   }
   .black{
     background-color: black;
   }
   .grey{
     background-color: grey;
   }
   .green{
     background-color: #9ad0c2;
   }
   .yellow{
     background-color: yellow;
   }
   .lightgrey{
     background-color: lightgrey;
   }
   .flex{
     display: flex;
   }
   .flex-dir-col{
     flex-direction: column;
   }
   .JCCenter{
     justify-content: center;
   }
   .JCSpaceA{
     justify-content: space-around;
   }
   .JCSB{
     justify-content: space-between;
   }
   .JCEnd{
     justify-content: flex-end;
   }
   .display-none-tablette{
     display: none;
   }
   .display-none-desktop{
     display: none;
   }

  .mobile-only{
  }
  .wrap{
    flex-wrap: wrap;
  }
  .ai-center{
     align-items: center;
   }
   .inline{
     display: inline-flex;
   }
  .padding-none{
    padding: 0;
  }
.start{
  /* justify-content: flex-start; */
}
.end{
  justify-content: flex-end;
}





/* ==========================================================================
                           UTILITARY CLASSES
   ========================================================================== */


  .ul-header-top, .ul-header-down, ul.competences{
    list-style: none;
    width: 100%;
  }
  ul{
    padding: 0;
  }
/* ==============================================================================
                          commun rules
================================================================================= */
/*----------------------nav collapse ------------------------------- */





/* -----------------  effect card projects */



/* .arrow-down{
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:absolute;
  left:50%;
  bottom:0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

} */

/* .arrow-down:hover{
   -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(240deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(-60deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
} */


/* ==========================================================================
                           HEADER
   ========================================================================== */

   header{
     width: 100%;
     height: 20vh;
   }



/*----------------------nav collapse start------------------------------- */

p.sub-title{
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
a{ color: #DE5E60;}
a:hover,
a:focus{
    text-decoration: none;
    color: #DE5E60;
}
ul, ol{
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}
.gap {
    margin-bottom: 50px;
}
.section-title.center{
    padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
    font-weight: 300;
}
.section-title.center .line{
    border-top: 4px solid #DE5E60;
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.section-title.center .line:hover
{
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 15%;
}
#art-menu {
    padding: 20px;
    transition: all 0.8s;
}
#art-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#art-menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
}
#art-menu a.navbar-brand:hover{
    color: #DE5E60;
}
#art-menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
}
.on {
    background-color: #26292E !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #DE5E60 !important;
    background-color: transparent;
    font-weight: 700;
}

.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DE5E60;
    border-color: #DE5E60;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 603px){
#art-menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.79);
	}
}


/* #home{
    background: url(https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?dpr=1&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;

} */
.content-title{
    position:relative;
    /* padding: 20% 0 0; */
}

#home #title{
    height: 750px;
    background-attachment: fixed;
background: rgba(7, 2, 4, 0.77);
}

#home p.sub-title{
    color: #fff;
}
.white-bg {
  background: #ffffff;
  padding: 120px 0;
  display: block;
}






/*----------------------nav collapse end------------------------------- */




/* .nav-header-top-mobile{
  height: 15%;
  width: 100%;
} */


@media screen and (min-width: 600px) {

  /* .display-none-tablette{
    display: block;
  }
  .nav-header-top{
    width:60%;
    height: 15%;
    display: flex;
    align-items: center;
  }

  .mobile-only{
    display: none;
  } */
}

@media screen and (min-width: 1200px) {
  /* .display-none-desktop{
    display: block;
  } */

}

/* ==============================================================================
                                     Main
================================================================================= */
/*------------------------------- Section home start ------------------------------- */


#home{
  height: 100vh;
  /* background: url(https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?dpr=1&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
  background-color: #9ad0c2;
}

.title{
  display: flex;
  height: 80%;
  justify-content: center;
    align-items: center;
}







/* arrow to invite to scroll */
.arrows {
 width: 60px;
 height: 72px;
 position: absolute;
 left: 50%;
 margin-left: -30px;
 bottom: 20px;
}

.arrows path {
 stroke: #2994D1;
 fill: transparent;
 stroke-width: 1px;
 animation: arrow 2s infinite;
 -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
 animation-delay:-1s;
 -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
 animation-delay:-0.5s;
 -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
 animation-delay:0s;
 -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/*------------------------------- Section home start ------------------------------- */

/*------------------------------- Section Portfolio start ------------------------------- */


/* *, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
} */

/* body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */


.container{
  display: block;
  width: 47%;
  padding: 1em 0;
}
.container-title-section{
  height: 80%;
  width: 60%;
  text-align: center;
  /* align-items: center;
  display: flex;
  justify-content: center; */
}
.title-section{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
article{
  margin-top:1em;
}
@media screen and (min-width: 600px){
  .container{
    float: left;
    width: 33%;
  }
  .content-section{
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px){
  .container{
    width: 23%;
  }
  .title-section{
    justify-content: start;
  }
  .container-title-section{
    width: 40%;
    margin-left: 1em;
  }
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}















#portfolio{
  min-height: 100vh;
  width: 90%;
  margin: auto;
}
.title-section{
  width: 100%;
  height: 20vh;
}
.content-section{

}
article.portfolio{
      margin: 1em 0;
}
/*------------------------------- Section end ------------------------------- */


/*------------------------------- Section  experience start ------------------------------- */

#experiences{
  min-height:100vh;
  width: 90%;
  margin: auto;
}

/* article.experience{
  width: 100%;
} */

.container-experiences{
  width: 100%;
  margin: 1em 0;

}
.content-experiences{
  width: 90%;
    /* max-width: 400px; */
    margin: auto;
    overflow: hidden;
    padding-bottom: 1em;
}
}



/*------------------------------- Section experiences end ------------------------------- */


/*------------------------------- Section compétences start ------------------------------- */
#competences{
  width: 90%;
  margin: auto;
}
#competences{
  width: 90%;
  margin: auto;
}
.container-article-comptetences{
  width: 100%;
}
.content-section-competences{
  width: 100%;
}

ul.competences{
  display: inline-flex;
  /* justify-content: space-between; */
}
ul.competences.first-line li {
  width: 25%;
  text-align: center;
}
ul.competences.second-line li{
  width: 25%;
  text-align: left;
}
ul.competences li{
  font-size: 2em;
}

/*------------------------------- Section compétences end ------------------------------- */


/*------------------------------- Section à propos  start ------------------------------- */

#apropos{
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

aside.avatar{
  padding-top: 2em;
  width: 100%;
  height: 31vh;
  text-align: center;
}
 aside img{
   border-radius: 194px;
 }
#apropos div article{
  text-align: center
}


/*------------------------------- Section end ------------------------------- */

/*------------------------------- Section start ------------------------------- */



/*------------------------------- Section end ------------------------------- */









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
