/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* ==========================================================================
                              UTILITARY CLASSES
      ========================================================================== */

   .white{
     background-color: white;
   }
   .pink{
     background-color: #f8a796;
   }
   .orange{
     background-color: #fee8c9;
   }
   .lime{
     background-color: lime;
   }
   .black{
     background-color: black;
   }
   .grey{
     background-color: grey;
   }
   .green{
     background-color: #9ad0c2;
   }
   .yellow{
     background-color: yellow;
   }
   .lightgrey{
     background-color: lightgrey;
   }
   .flex{
     display: flex;
   }
   .flex-dir-col{
     flex-direction: column;
   }
   .JCCenter{
     justify-content: center;
   }
   .JCSpaceA{
     justify-content: space-around;
   }
   .JCSB{
     justify-content: space-between;
   }
   .JCEnd{
     justify-content: flex-end;
   }
   .display-none-tablette{
     display: none;
   }
   .display-none-desktop{
     display: none;
   }
  .mobile-only{
  }
  .wrap{
    flex-wrap: wrap;
  }
  .ai-center{
     align-items: center;
   }
   .inline{
     display: inline-flex;
   }
  .padding-none{
    padding: 0;
  }
.start{
  /* justify-content: flex-start; */
}
.end{
  justify-content: flex-end;
}







  .ul-header-top, .ul-header-down, ul.competences{
    list-style: none;
    width: 100%;
  }
  ul{
    padding: 0;
  }
/* ==============================================================================
                          HEADER
================================================================================= */
/*----------------------nav collapse ------------------------------- */


/* The sidepanel menu */
.sidepanel {
    height: 280px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}



/* -----------------  effect card projects */



.arrow-down{
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:absolute;
  left:50%;
  bottom:0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover{
   -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(240deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(-60deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




body {
  background:#0b1d2a;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*----------------------nav collapse end------------------------------- */

header{
  width: 100%;
  height: 100vh;
  background-image: url("../img/night-stars.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#title{
  height: 60%;
  width: 100%
}
.nav-header-top-mobile{
  height: 15%;
  width: 100%;
}
.nav-header-down{
  height: 25%;
  width: 100%;
}
.ul-header-top, .ul-header-down{
  list-style: none;
  width: 100%;
}
.ul-header-down{
  width: 60%;
}
@media screen and (min-width: 600px) {

  .display-none-tablette{
    display: block;
  }
  .nav-header-top{
    width:60%;
    height: 15%;
    display: flex;
    align-items: center;
  }

  .mobile-only{
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .display-none-desktop{
    display: block;
  }
  .ul-header-right, .ul-header-left{
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .title-nav{
    width: 80%;
  }
  .title-section{

  }
}

/* ==============================================================================
                                     Main
================================================================================= */

/*------------------------------- Section start ------------------------------- */


/* *, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
} */

/* body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */


.container{
  display: block;
  width: 47%;
  padding: 1em 0;
}
.container-title-section{
  height: 80%;
  width: 60%;
  text-align: center;
  /* align-items: center;
  display: flex;
  justify-content: center; */
}
.title-section{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
article{
  margin-top:1em;
}
@media screen and (min-width: 600px){
  .container{
    float: left;
    width: 33%;
  }
  .content-section{
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px){
  .container{
    width: 23%;
  }
  .title-section{
    justify-content: start;
  }
  .container-title-section{
    width: 40%;
    margin-left: 1em;
  }
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}















#portfolio{
  min-height: 100vh;
  width: 90%;
  margin: auto;
}
.title-section{
  width: 100%;
  height: 20vh;
}
.content-section{

}
article.portfolio{
      margin: 1em 0;
}
/*------------------------------- Section end ------------------------------- */


/*------------------------------- Section  experience start ------------------------------- */

#experiences{
  min-height:100vh;
  width: 90%;
  margin: auto;
}

/* article.experience{
  width: 100%;
} */





ul#time-line{
			padding: 50px 0;
			margin: 0;
			list-style-type: none;
			/* position: relative; */
			overflow: hidden;
		}
		ul#time-line:after{
			/* position: absolute; */
			content: '';
			height: 100%;
			width: 5px;
			border-radius: 20px;
			background: #303030;
			left: 0;
			right: 0;
			top: 0;
			pointer-events: none;
			margin: auto;
		}
		ul#time-line li{
			/* width: 50%; */
			margin-left: auto;
			text-align: left;
			transition: all cubic-bezier(0.68,0.55,0.265,1.55) .5s;
			transform: rotateX(90deg);
		}
		ul#time-line li:nth-child(2n){
			margin-left: 0;
			margin-right: auto;
			text-align: right;
		}
		ul#time-line li article{
			width: 100%;
			display: inline-block;
			background: #303030;
			padding: 30px;
			/* margin: 20px; */
			/* border-radius: 30px; */
			/* position: relative; */
			color: #fff;
		}
		ul#time-line li article:after{
			content: '';
			/* position: absolute; */
			left: auto;
			right: 100%;
			top: 45%;
			border: solid 10px;
			border-color: transparent #303030 transparent transparent;
		}
		ul#time-line li article:before{
			content: '';
			/* position: absolute; */
			height: 20px;
			width: 20px;
			background: #303030;
			border-radius: 50%;
			left: -30px;
			top: 45%;
		}
		ul#time-line li:nth-child(2n) article:before{
			right: -30px;
			left: auto;
		}
		ul#time-line li:nth-child(2n) article:after{
			left: 100%;
			right: auto;
			border-color: transparent transparent transparent #303030;
		}
		ul#time-line li.visibility {
			transform: rotateX(0deg) perspective(360px);
		}


@media screen and {

}
/*------------------------------- Section experiences end ------------------------------- */


/*------------------------------- Section compétences start ------------------------------- */
#competences{
  width: 90%;
  margin: auto;
}
.container-article-comptetences{
  width: 100%;
}
.content-section-competences{
  width: 100%;
}

ul.competences{
  display: inline-flex;
  /* justify-content: space-between; */
}
ul.competences.first-line li {
  width: 20%;
  text-align: center;
}
ul.competences.second-line li{
  width: 20%;
  text-align: left;
}


/*------------------------------- Section compétences end ------------------------------- */


/*------------------------------- Section  start ------------------------------- */






/*------------------------------- Section end ------------------------------- */

/*------------------------------- Section start ------------------------------- */



/*------------------------------- Section end ------------------------------- */









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
